{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    {% for link in links %}
        <div class="col-md-3 float-left">
            <div class="card border-secondary my-3">
                <div class="card-header">
                    <a href="{{ path("view", {id: link.id}) }}">
                        {{ link.name }}
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text font-weight-light"href="{{ path("view", {id: link.id}) }}">
                            {{ link.description }}
                    </p>
                    <a class="btn btn-outline-primary" href="{{ path("view", {id: link.id}) }}">Détail
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
