{% extends 'base.html.twig' %}

{# le titre est rajouté devant - Zulgate #}
{% block title %}
    Détails du lien
{% endblock %}

{# Détail du lien #}
{% block body %}
    <div class="col-md-12">
        <div class="card border-secondary my-3">
            <div class="card-header">
                <h3>
                    {{ link.name }}
                </h3>
            </div>
            <div class="card-body">
                <p>
                    {{ link.description }}
                </p>
                <p>
                <a href="{{ link.cible }}" target="_blank">
                    {{ link.cible }}
                </a>
                <p>
                <p>
                <a class="btn btn-outline-primary" href="{{ path('edit', {id : link.id}) }}">
                    Editer
                </a>
                 <a class="btn btn btn-outline-danger" href="{{ path('erase', {id : link.id}) }}">
                    Effacer le lien
                </a>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
